<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
[% FOREACH feed = feeds %]
[% IF feed.image %]<a href="[% feed.link %]"><img src="[% feed.image.url | html %]" alt="[% feed.title | html %]" /></a>[% END %]
[% FOREACH entry = feed.entries %]
<h1>[% entry.title %]</h1>
<div>
<div>
[% SET link = entry.link || entry.id -%]
Link: <a href="[% link | html %]">[% link | html %]</a><br />
[% IF entry.author %]by [% entry.author | html %][% END %][% IF entry.tags.size %] on [% entry.tags.join(',') %][% END %]</div>
[% IF entry.body -%]
[% IF entry.body.match('(?i)^<p[ >]') %][% entry.body %][% ELSE %]<div class="entry_body">[% entry.body %]</div>[% END %]
[% ELSE %]<br />[% END %]
<div class="post">[% IF entry.date %]Posted on [% entry.date.format('Mail') %][% END %] | <a href="[% entry.permalink | html %]">permalink</a> | <a href="[% feed.link | html %]">[% (feed.title || '(no-title)') | html %]</a>[% FOREACH widget = entry.widgets %] | [% widget.html(entry) %][% END %]<br clear="all" /></div>
</div>
[% END %]
<hr />
[% END %]
</body>
</html>
