global:
  plugin_path:
    - /home/miyagawa/plagger/plugins
  #template_path: /home/miyagawa/plagger/templates
  timezone: Asia/Tokyo

plugins:
  - module: Subscription::Bloglines
    config:
      username: miyagawa@example.com
      password: foobar
      mark_read: 1

  - module: CustomFeed::Mixi
    config:
      email: miyagawa@example.com
      password: foobar
      fetch_body: 1
      fetch_body_internal: 1.5

  - module: Subscription::OPML
    config:
      url: http://example.com/mySubscription.opml

- module: Subscription::Config
    config:
      feed:
        - url:  http://bulknews.typepad.com/blog/index.rdf
          tags: tech rss atom

  - module: Aggregator::Simple

  - module: Filter::URLBL
    config:
      dnsbl: rbl.bulkfeeds.jp
      rate:  -1

  - module: Widget::Delicious
    config:
      username: miyagawa

  - module: Publish::Gmail
    rule:
      - module: Rating
        rate:   '>= 0'
    config:
      mailto:   miyagawa@example.com
      mailfrom: miyagawa@example.net
      mailroute:
        via: smtp
        host: smtp.example.com

