global:
  plugin_path:
    - /home/miyagawa/plagger/plugins
  #template_path: /home/miyagawa/plagger/templates
  timezone: Asia/Tokyo
  log:
    level: info

plugins:
  - module: Subscription::Bloglines
    config:
      username: miyagawa@example.com
      password: foobar
      mark_read: 1

  - module: CustomFeed::Mixi
    config:
      email: miyagawa@example.com
      password: foobar
      fetch_body: 1
      fetch_body_interval: 1.5

  - module: Subscription::OPML
    config:
      url: http://example.com/mySubscription.opml

  - module: Subscription::Config
    config:
      feed:
        - url: http://bulknews.typepad.com/blog/index.rdf
          tag: tech rss atom

  - module: Aggregator::Simple

  - module: SmartFeed
    config:
      id: perl-tech
    rule:
      module: EntryTag
      tag: perl tech
      op: OR

  - module: Filter::FeedBurnerPermalink

  - module: Filter::URLBL
    config:
      dnsbl: rbl.bulkfeeds.jp
      rate:  -1

  - module: Filter::HatenaBookmarkUsersCount

  - module: Widget::Delicious
    config:
      username: miyagawa

  - module: Widget::HatenaBookmarkUsersCount
    rule:
      - module: FeedAttr
        attrs:
          name: type
          op: NOR
          value:
            - mixi
            - frepa

  - module: Publish::Gmail
    rule:
      - module: Rating
        rate:   '>= 0'
    config:
      mailto:   example@gmail.com
      mailfrom: miyagawa@example.com
      mailroute:
        via: smtp
        host: smtp.example.com

  - module: Publish::CHTML
    rule:
      - module: FeedAttr
        attrs:
            name: type
            op: NOR
            value:
              - mixi
              - frepa
    config:
      work: /home/yappo/plagger/chtml
      title: Plagger for Mobile
      mobile_gw: http://bp.to/login.php?anonymous=on&url=

  - module: Publish::Spotlight
    config:
      dir: /Users/youpy/Library/Caches/Metadata/Plagger/
