global:
  plugin_path:
    - /home/miyagawa/plagger/plugins
  #template_path: /home/miyagawa/plagger/templates
  timezone: Asia/Tokyo
  log:
    level: info

plugins:
  - module: Subscription::Bloglines
    config:
      username: miyagawa@example.com
      password: foobar
      mark_read: 1

  - module: Widget::Delicious
    config:
      username: miyagawa

  - module: Publish::Gmail
    config:
      mailto:   example@gmail.com
      mailfrom: miyagawa@example.com
      mailroute:
        via: smtp
        host: smtp.example.com
