<!DOCTYPE HTML PUBLIC "-//W3C//DTD Compact HTML 1.0 Draft//EN">
<html><head><title>[% (entry.title || '(no-title)') | html %]</title></head>
<body>
<a href="../">[% feed.title %]</a><br>
[% (entry.title || '(no-title)') | html %]
[% IF entry.date %]<br>Posted on [% entry.date.format('Mail') %][% END %]
[% IF entry.author %]<br>by [% entry.author | html %][% END %]
<hr size="1">
[% IF entry.body %]<pre>[% strip_html(entry.body) %]</pre><hr size="1">[% END %]
[% IF conf.mobile_gw %]&gt;<a href="[% conf.mobile_gw %][% entry.permalink | uri %]">permalink</a><br>[% END %]
<a href="../../../">top</a>
</body>
</html>
