[%- SET title = feed.title || '(no-title)' -%]
[% FOREACH entry = feed.entries -%][% feed.title_text %]: [% entry.title_text %] - [% entry.link %][% IF entry.author %] by [% entry.author %][% END %]
[% END -%]
