<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="alternate" type="application/atom+xml" title="Atom: [% feed.title %]" href="smartfeed_all.atom" />
    <link rel="alternate" type="application/rss+xml" title="RSS: [% feed.title %]" href="smartfeed_all.rss" />
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
    [% IF members_list %]
      <link rel="stylesheet" type="text/css" href="css/screen-members-list.css" />
    [% END %]
    <title>[% feed.title %]</title>
  </head>
  <body>
    <div id="feed-title">[% feed.title %]</div>

    [% IF members_list %]
      <ul id="members-list">
        [% FOREACH member IN members %]
          <li class="member">
            <a class="member-link" href="[% member.link | html %]">[% member.title | html %]</a>
          </li>
        [% END %]
      </ul>
    [% END %]

    [% FOREACH entry IN feed.entries %]
      <div class="entry">
        <div class="entry-header">
          <div class="entry-title">
            [% IF entry.source.title %]
              <a class="entry-source-link" href="[% entry.source.link | html %]">[% entry.source.title | html %]</a>: 
            [% END %]
            <a class="entry-link" href="[% (entry.link || entry.id) | html %]">[% entry.title | html %]</a>
          </div>
          [% IF entry.author %]
            <span class="entry-by-line">
              by <span class="entry-author">[% entry.author | html %]</span>
            </span>
          [% END %]
          [% IF entry.tags.size %]
            <span class="entry-tags">
              on
              <span class="entry-tag">
                [% entry.tags.join('</span>, <span class="entry-tag">') %]
              </span>
          [% END %]
        </div>
        [% IF entry.body %]
          <div class="entry-body">
            [% entry.body %]
          </div>
        [% END %]
        <div class="entry-footer">
          [% IF entry.date %]
            <span class="entry-posted">
              Posted on
              <span class="entry-post-date">[% entry.date.format('Mail') %]</span>
            </span>
          [% END %]
          <a class="entry-permalink" href="[% entry.permalink | html %]">permalink</a>
          [% FOREACH widget = entry.widgets %]
            <span class="entry-widget">[% widget.html(item) %]</span>
          [% END %]
        </div>
      </div>
    [% END %]
  </body>
</html>
