<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="generator" contnet="Plagger [% context.VERSION %]" />
    <link rel="alternate" type="application/atom+xml" title="Atom: [% feed.title | html %]" href="[% url.atom %]" />
    <link rel="alternate" type="application/rss+xml" title="RSS: [% feed.title | html %]" href="[% url.rss %]" />
[% IF url.opml -%]
    <link rel="subscriptions" type="text/x-opml" title="Subscriptions" ref="[% url.opml %]" />
[% END -%]
[% IF url.foaf -%]
    <link rel="meta" type="application/rdf+xml" title="foafroll" href="[% url.foaf %]" />
[% END -%]
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
    <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="css/handheld.css" media="handheld" />
    <link rel="stylesheet" type="text/css" href="css/screen-members-list.css" />
    <title>[% feed.title %]</title>
  </head>
  <body>
    <div id="feed-title">[% feed.title %]</div>

    <ul id="members-list">
      [% FOREACH member = members %]
        <li class="member">
          <a class="member-link" href="[% member.link | html %]">[% member.title | html %]</a>
        </li>
      [% END %]
    </ul>

    [% FOREACH entry = entries %]
      <div class="entry">
        <div class="entry-header">
          <div class="entry-title">
            [% IF entry.source.title %]
              <a class="entry-source-link" href="[% entry.source.link | html %]">[% entry.source.title | html %]</a>: 
            [% END %]
            <a class="entry-link" href="[% (entry.permalink || entry.id) | html %]">[% entry.title | html %]</a>
          </div>
          [% IF entry.author %]
            <span class="entry-by-line">
              by <span class="entry-author">[% entry.author | html %]</span>
            </span>
          [% END %]
          [% IF entry.tags.size %]
            <span class="entry-tags">
              on
              <span class="entry-tag">
                [% entry.tags.join('</span>, <span class="entry-tag">') %]
              </span>
          [% END %]
        </div>
        [% IF entry.body %]
          <div class="entry-body">
            [% entry.body %]
          </div>
        [% END %]
        <div class="entry-footer">
          [% IF entry.date %]
            <span class="entry-posted">
              Posted on
              <span class="entry-post-date">[% entry.date.format('Mail') %]</span>
            </span>
          [% END %]
          <a class="entry-permalink" href="[% entry.permalink | html %]">permalink</a>
          [% FOREACH widget = entry.widgets %]
            <span class="entry-widget">[% widget.html(entry) %]</span>
          [% END %]
        </div>
      </div>
    [% END %]
  </body>
</html>
