<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>[% entry.title | html %][% IF entry.tags.size %] [[% entry.tags.join(' ') %]][% END %]</string>
	<key>URL</key>
	<string>[% entry.permalink | html %]</string>
</dict>
</plist>
